*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* set images to fluid */
img {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Fraunces', serif;
  /* font-family: 'Barlow', sans-serif; */
}

.mobile-menu-btn,
.mobile-close-btn {
  width: 2.5em;
  cursor: pointer;
}

.mobile-close-btn {
  display: none;
}

/* svg */
#footer-logo {
  width: 12em;
  fill: #fff;
}

footer {
  background-color: #2c343e;
}

.social {
  width: 1.5em;
  cursor: pointer;
}

.blackRectangleBackGroundParentContainer {
  position: relative;
}

.blackRectangleBackGroundContainer {
  height: 100vh;
  /* allows the element to be in the background so 
  we can lay the other elements on top  */
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 90%;
  z-index: -1;
}

.blackRectangleBackGround {
  background-color: #2c343e;
}
